.fs_12{
  font-size: 12px;
}
.fs_14{
  font-size: 14px;
}
.fs_16{
  font-size: 16px;
}
.fs_18{
  font-size: 18px;
}
.fs_24{
  font-size: 24px;
}
.fs_30{
  font-size: 30px;
}
.fs_36{
  font-size: 36px;
}

.fc_9ebe9d{
  color: #9ebe9d;
}
.fc_316d2f{
  color: #316d2f;
}
.fc_7e7e7e{
  color: #7e7e7e;
}
.fc_1e1e1e{
  color: #1e1e1e;
}
.fc_f84a4a{
  color: #f84a4a;
}

.fc_9ca8af{
  color: #9ca8af;
}
.fc_2f4049{
  color: #2f4049;
}
.fc_fff{
  color: #ffffff;
}

.fls_06{
  letter-spacing: .6px;
}
.fls_07{
  letter-spacing: .7px;
}
.fls_08{
  letter-spacing: .8px;
}
.fls_09{
  letter-spacing: .9px;
}
.fls_15{
  letter-spacing: 1.5px;
}

.text-align_center{
  text-align: center;
}
.text-transform_uppercase{
  text-transform: uppercase;
}
